body {
  background: #0f172a;
  color: white;
  font-family: Arial;
}

.container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #444;
  padding: 8px;
  text-align: center;
}